.table__header {
    background-color: grey;
    color: white;
}

.table__header:hover {
    background-color: white;
    color: gray;
}

.table__container tr:nth-child(odd) {
    background-color: rgb(241, 241, 241);
}

.table__container td {
    /* display: table-cell; */
    vertical-align: middle;
}